body{
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #fafafa;
    font-family: monospace;
}
h1{
    color: #f5f5f5;
}

.titulo{
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: #212121;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 24px;
}

header{
    width: 100%;
    text-align: center;
    background-color: #00796b;
    font-size: 44px;
    height: auto;
}

h3{
    border-bottom: solid 2px;
    border-color: #00897b;
    margin: 1%;
}
p{
    margin: 1%;
}

.content{
    width: 100%;
    background-color: gainsboro;
    height: auto;
    margin-top: 15px;
    
    border-radius: 10px;
}

.content1{
    width: 60%;
    background-color: gainsboro;
    float: left;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

table{
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%
}

.content2{
    width: 98%;
    background-color: gainsboro;
    height: auto;
    margin-top: 1%;
    border-radius: 10px;
}

.content3{
    width: 26%;
    
    float: left;
    margin: 2%;
}
.content4{
    width: 98%;
    margin: 1%;
    background-color: gainsboro;
    float: left;     
    text-align: center;        
    border-radius: 7px;   
    
}

.content5{
    width: 31%;
    margin: 1.15%;
    background-color: #757575;
    height: 30px;
    float: left;
    text-align: center;
}



#div.datos{
    width: 50px;
    margin: 50%
    
}
.text1{
    margin: 0%;
    padding: 0%;
}

.boton{
    width: 79px;
    align-items: center;
}

.login{
    text-align:center;
}

#previos1{
    display: none;
}
#next1{
    display: none;
}
#question0{
    display: block;
}
#question1{
    display: none;
}
#question2{
    display: none;
}
#question3{
    display: none;
}
#question4{
    display: none;
}
#question5{
    display: none;
}
#question6{
    display: none;
}
#question7{
    display: none;
}
#question8{
    display: none;
}
#question9{
    display: none;
}
#question10{
    display: none;
}

#question11{
    display: none;
}

progress[value] {
   
    width: 100%;
    height: 30px;
    overflow:hidden;
        border:1px inset #666;
    border-radius : 20px ;
}

progress[value]::-webkit-progress-value {
    background-color: #00796b;
  }
  span{
      float: right;
      
  }

  footer{
    /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    background-color: #00796b;
    width: 100%;
   
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
 }